* {
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .card-content p{
        font-size: 40px;
    }
    .card-content h4{
        font-size: 50px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .card-content p{
        font-size: 40px;
    }
    .card-content h4{
        font-size: 50px;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .card-content p{
        font-size: 30px;
    }
    .card-content h4{
        font-size: 40px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .card-content p{
        font-size: 23px;
    }
    .card-content h4{
        font-size: 30px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */

 @media only screen and (min-width: 1200px) {
    .card-content p{
        font-size: 16px;
    }
    .card-content h4{
        font-size: 25px;
    }
 }



.card-container {
    width: 100%;
    max-width: 60rem;
    /* height: 20vh; */
    display: flex;
    height: 30vh;
    margin-bottom: 5vh;
    align-self: center;
    align-items: center;
    /* padding-bottom: vh; */
    height: fit-content;
    justify-content: center;
}

.card-content {
    width: 90%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: center;
    /* align-items: center; */

}

.card-content h4 {
    color: rgb(53, 226, 226);
}

.card-prop {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.card-txt {
    width: 100%;
    display: flex;
}

.link, .card-container{
    text-decoration: inherit;
    user-select: none;
    color: inherit;
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);


}

.link:hover, .card-container:hover {
    text-decoration: inherit;
    user-select: none;
    color: inherit;
    transform: scale(1.03);
}
